@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

.container {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 30px;
}

.search-bar {
  text-align: center;
  width: 20%;
  margin-left: 650px;
  max-width: 250px;
}

.dropdown-menu {
  margin-left: 650px;
}

.container-footer {
  text-align: center;
}

.margin-footer {
  margin-left: 8px;
}